<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home页面</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/AdminLTE.min.css"/>
    <link rel="stylesheet" href="css/skins/_all-skins.min.css">
    <script src="libs/angular/angular.js"></script>
    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/bootstrap/js/bootstrap.js"></script>
</head>

<style>
    body {
        position: relative;
        background-image: url("img/bigbg.jpg")
    }

    .main-sidebar {
        /*width:16vw;*/
        height: 100vh;
    }

    .box-default {
        width: 86vw !important;
        position: absolute;
        left: 16vw;
        /*background-position-x:86vw;*/
    }

    /*.navbar-static-top{*/
    /*width:16vw !important;*/
    /*}*/

    table {
        width: 80%;
        position: absolute;
        top: 20vh;
        left: 13vw;
        background-color: lavenderblush;
        font-size: 1em;
        border-collapse: collapse;
        margin: 0 auto;
        /*background-image: url("img/bigbg.jpg")*/
        
    }

    table tr {
        /*background-image: url("img/bigbg.jpg")*/
    }

    table, td, th {
        border: 1px solid #999;
        padding: 8px 16px;
        text-align: left
    }

    /*table.ex-2{min-width:100px}*/
    th {
        background: #f4f4f4;
        cursor: pointer
    }

    th.sorted, th:hover {
        background: #d4d4d4
    }

    th.no-sort, th.no-sort:hover {
        background: #f4f4f4;
        cursor: not-allowed
    }

    th.sorted.ascending:after {
        content: "  \2191"
    }

    th.sorted.descending:after {
        content: " \2193"
    }

    .disabled {
        opacity: .5
    }
</style>
<body class="hold-transition skin-blue sidebar-mini" ng-app="app" ng-controller="ctrl">


<!--The .wrapper div must be placed immediately after the body tag rather than after the header-->
<!--Change the .header div to .main-header <div class="main-header">-->
<!--Change the .right-side class to .content-wrapper <div class="content-wrapper">-->
<!--Change the .left-side class to .main-sidebar <div class="main-sidebar">-->
<!--In the navbar, change .navbar-right to .navbar-custom-menu <div class="navbar-custom-menu">-->

<header class="main-header">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b>LTE</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li><!-- start message -->
                                    <a href="#">
                                        <div class="pull-left">
                                            <!--<img src="../../dist/img/user2-160x160.jpg" class="img-circle"
                                                 alt="User Image">-->
                                        </div>
                                        <h4>
                                            <!--Support Team-->
                                            <!--<small><i class="fa fa-clock-o"></i> 5 mins</small>-->
                                        </h4>
                                        <!--<p>Why not buy a new awesome theme?</p>-->
                                    </a>
                                </li>
                                <!-- end message -->
                            </ul>
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 9 tasks</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li><!-- Task item -->
                                    <a href="#">
                                        <h3>
                                            Design some buttons
                                            <small class="pull-right">20%</small>
                                        </h3>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%"
                                                 role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                 aria-valuemax="100">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- end task item -->
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--<img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
                        <span class="hidden-xs">及时消息提醒</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                            <p>
                                Alexander Pierce - Web Developer
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="input-group" style="position:absolute;top:10vh;left:27vw">
    <input type="text" style="width:40vw !important;" name="q" class="form-control" placeholder="Search..." ng-model="search">
    <span class="input-group-btn">
          <button type="submit" style="position:absolute;left:47vw;" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i><tton>
        </span>
</div>


<div class="main-sidebar">
    <!-- Inner sidebar -->
    <div class="sidebar">
        <!-- user panel (Optional) -->
        <div class="user-panel">

                <h1 style="color:white">会员资料</h1>

        </div><!-- /.user-panel -->

        <!-- Search Form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <!--<div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." ng-model="search">
                <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
            </div>-->
        </form><!-- /.sidebar-form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">统计资料</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="#"><span>会员管理</span></a><</li>
            <li><a href="#"><span>会员类别</span></a></li>
            <li class="treeview">
                <a href="#"><span>会员网站</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="black.html">黑卡会员介绍</a></li>
                    <li><a href="white.html">白金会员介绍</a></li>
                </ul>
            </li>
        </ul><!-- /.sidebar-menu -->

    </div><!-- /.sidebar -->
</div><!-- /.main-sidebar -->


<!--<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Input</h3>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                <input type="text" class="form-control input-sm" placeholder="Search...">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div
    </div>
    <div class="box-body">
        The body of the box
    </div>
</div>-->

<a href="edit.html"><button class="btn btn-info" style="position:absolute;left:13vw;top:10vh">
    新增信息录入
</button></a>

    <!--数据填充-->
<table>
    <thead>
    <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>手机号码</th>
        <th>家庭住址</th>
        <th>备注</th>
        <th>删除</th>
        <th>编辑</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in data | filter:search">
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>{{item.sex}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.address}}</td>
        <td>{{item.info}}</td>
        <td ng-click="remove(item.id)"><span class="glyphicon glyphicon-trash"></span></td>
        <td ng-click="update(item.id)" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-edit"></span></td>
    </tr>
    </tbody>
</table>
<!--</div>-->
<!--模态框-->
<!--<div class="modal fade" tabindex="-1" id="myModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">注册信息</h4>
            </div>
            <div class="modal-body">
                <form id="form1" class="form-horizontal" name="myForm">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" ng-model="user" ng-pattern="'[\u4E00-\u9FA5]{2,4}'">
                                <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid ">&otimes;</span>              
                                <span style="color:green" ng-show=" myForm.name.$dirty && myForm.name.$valid">&radic;</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">年龄</label>
                        <div class="col-sm-10">
                            <input type="text" name="age" class="form-control" ng-model="age" ng-pattern="'^[0-9]{2}'">
                            <span style="color:red" ng-show="myForm.age.$dirty && myForm.age.$invalid ">&otimes;</span>
                            <span style="color:green" ng-show=" myForm.age.$dirty && myForm.age.$valid">&radic;</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <input type="text" name="sex" class="form-control" ng-model="sex" ng-pattern="'^[男|女]$'">
                            <span style="color:red" ng-show="myForm.sex.$dirty && myForm.sex.$invalid ">&otimes;</span>
                            <span style="color:green" ng-show=" myForm.sex.$dirty && myForm.sex.$valid">&radic;</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">电话号码</label>
                        <div class="col-sm-10">
                            <input type="text" name="phone" class="form-control" ng-model="phone" ng-pattern="'^1[3|4|5|7|8][0-9]{9}$'">
                            <span style="color:red" ng-show="myForm.phone.$dirty && myForm.phone.$invalid ">&otimes;</span>
                            <span style="color:green" ng-show=" myForm.phone.$dirty && myForm.phone.$valid">&radic;</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">家庭住址</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="address" ng-model="address" ng-pattern="'[\u4E00-\u9FA5]{10,20}'">
                            <span style="color:red" ng-show="myForm.address.$dirty && myForm.address.$invalid ">&otimes;</span>
                            <span style="color:green" ng-show=" myForm.address.$dirty && myForm.address.$valid">&radic;</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="info" ng-model="info" ng-pattern="'[\u4E00-\u9FA5]{5,20}'">
                            <span style="color:red" ng-show="myForm.info.$dirty && myForm.info.$invalid ">&otimes;</span>
                            <span style="color:green" ng-show=" myForm.info.$dirty && myForm.info.$valid">&radic;</span>
                        </div>
                    </div>
                    <div class="form-group" >
                        <input type="submit" value="提交" class="btn col-sm-10 btn-primary form-control" ng-disabled="myForm.name.$dirty && myForm.name.$invalid ||  
myForm.age.$dirty && myForm.age.$invalid || myForm.phone.$dirty && myForm.phone.$invalid">
                    </div>
                </form>
            </div>
           <<div class="modal-footer">
                &lt;!&ndash;<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>&ndash;&gt;
                &lt;!&ndash;<button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>&ndash;&gt;
            </div>
        </div>
    </div>
</div> -->


<div class="modal fade" tabindex="-1" id="myModal2" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">修改信息</h4>
            </div>
            <div class="modal-body">
                <form id="form2" class="form-horizontal" ng-submit="findAndUpdate(edit.age)" name="myForm">
                     <div class="form-group">
                        <label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" ng-model="user" ng-pattern="'[\u4E00-\u9FA5]{2,4}'">
                                <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid ">&otimes;</span>              
                                <span style="color:green" ng-show=" myForm.name.$dirty && myForm.name.$valid">&radic;</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">年龄</label>
                        <div class="col-sm-10">
                            <input type="text" name="age" class="form-control" ng-model="age" ng-pattern="'^[0-9]{2}'">
                            <span style="color:red" ng-show="myForm.age.$dirty && myForm.age.$invalid ">&otimes;</span>
                            <span style="color:green" ng-show=" myForm.age.$dirty && myForm.age.$valid">&radic;</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <input type="text" name="sex" class="form-control" ng-model="sex" ng-pattern="'^[男|女]$'">
                            <span style="color:red" ng-show="myForm.sex.$dirty && myForm.sex.$invalid ">&otimes;</span>
                            <span style="color:green" ng-show=" myForm.sex.$dirty && myForm.sex.$valid">&radic;</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">电话号码</label>
                        <div class="col-sm-10">
                            <input type="text" name="phone" class="form-control" ng-model="phone" ng-pattern="'^1[3|4|5|7|8][0-9]{9}$'">
                            <span style="color:red" ng-show="myForm.phone.$dirty && myForm.phone.$invalid ">&otimes;</span>
                            <span style="color:green" ng-show=" myForm.phone.$dirty && myForm.phone.$valid">&radic;</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">家庭住址</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="address" ng-model="address" ng-pattern="'[\u4E00-\u9FA5]{10,20}'">
                            <span style="color:red" ng-show="myForm.address.$dirty && myForm.address.$invalid ">&otimes;</span>
                            <span style="color:green" ng-show=" myForm.address.$dirty && myForm.address.$valid">&radic;</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="info" ng-model="info" ng-pattern="'[\u4E00-\u9FA5]{5,20}'">
                            <span style="color:red" ng-show="myForm.info.$dirty && myForm.info.$invalid ">&otimes;</span>
                            <span style="color:green" ng-show=" myForm.info.$dirty && myForm.info.$valid">&radic;</span>
                        </div>
                    </div>
                    <div class="form-group" >
                        <input type="submit" value="提交" class="btn col-sm-10 btn-primary form-control" ng-disabled="myForm.name.$dirty && myForm.name.$invalid ||  
myForm.age.$dirty && myForm.age.$invalid || myForm.phone.$dirty && myForm.phone.$invalid">
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                 &lt;!&ndash;<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>&ndash;&gt;
                 &lt;!&ndash;<button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>&ndash;&gt;
             </div>-->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>
<script src="js/fastclick/fastclick.js"></script>
<script src="js/app.min.js"></script>
<script src="js/jquery-latest.min.js"></script>
<script src="js/jquery.tablesort.min.js"></script>
</body>
</html>
<script>
    $('#form1').submit(function (e) {
        e.preventDefault();
        var data = $(this).serialize();
        $.post('/add', data, function (res) {
            if (res.code === 'success') {
                location.reload()
            }
        })
    });
    $('#form2').submit(function (e) {
        e.preventDefault();
        var data = $(this).serialize();
        $.post('/add', data, function (res) {
            if (res.code === 'success') {
                location.reload()
            }
        })
    });
</script>
<script>
    angular.module('app', [])
        .controller('ctrl', ['$scope', '$http', function ($scope, $http) {
            $http.get('/search')
                .then(function (response) {
                    $scope.data = response.data;
                })
                .catch(function (err) {
                    console.log(err);
                });
            $scope.remove = function (id) {
                $http.get('/remove/' + id)
                    .then(function (res) {
                        location.reload()
                    })
            };

            $scope.update = function (id) {
                $http.get('/edit/' + id)
                    .then(function (res) {
                        $scope.edit = res.data;
                        console.log(res.data)
                    })
            };

            $scope.findAndUpdate = function (id) {
                $http({
                    url:'/api/edit/'+id,
                    method:'POST',
                    data:{name:$scope.edit.name,age:$scope.edit.age}
                })
            }
        }])
</script>